.container {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

body {
  background-color: #edede9;
  margin: auto;
}

h1,h2 {
  color:  #432818;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  margin-bottom: 40px;
}

a {
  color: #7b492c;
  text-decoration: none;
}

a:hover {
  color: #4d2e1c
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.gowun-dodum-regular {
  font-family: "Gowun Dodum", serif;
  font-weight: 400;
  font-style: normal;
}

.lexend {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
}

.btn-brown {
  background-color: #432818;
  color: white;
  padding: 15px 15px;
  border-radius: 4px;
}
